.charsContainer {
    margin: 0 auto;
    display: grid;
    gap: 1.2rem;
    background-color:rgba(red, green, blue, .1);
    grid-template-columns: repeat(4, minmax(130px, 1fr));
    width: 70%; 
    height: max-content;
}

.charCard {
    position: relative;
    transform-style: preserve-3d;
    transition: transform .3s ease-in, box-shadow .1s ease-in; 
    background-clip: padding-box;
    height: max-content; 
}

.front:hover {
    box-shadow: 0px 0 6px 5px rgba(67, 14, 225, 0.9);
}


.back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    height: 100%;
}

.back > img {
   height:100%;
   object-fit: cover;
   
}

.front, .back {
    display: flex;
    flex-direction: column;
    place-items: center;
    backface-visibility: hidden;

    
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 7px 2px rgb(149, 152, 219);
 
}



.charsContainer.rotate > .charCard {
    transform: rotateY(180deg);
}


.charCard img {
    width: 100%;
   
}


.charCard h3 {
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: black;
    width: 100%;
}
