

.scoreBoard {
    display: flex;
    flex-direction:column;
    place-content: center;
   
    
}



.currentScore, .bestScore {
    display: flex;
    gap:.4rem
  
}

.livesDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    margin-top: 1rem;
}
.livesDisplay > svg {
    color:red;
    font-size: 1.7rem;
    
}